[submodule "lib/assemblyscript"]
	path = lib/assemblyscript
	url = https://github.com/AssemblyScript/assemblyscript.git
[submodule "lib/typescript_contract_sdk"]
	path = lib/typescript_contract_sdk
	url = https://github.com/keto-coin/typescript_contract_sdk.git
